.todo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    border: 1px solid #29292f;
    padding: 1rem;
    color: aliceblue;
    line-height: 24px;
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        p{
            font-size: 12px;
            font-weight: 600;
        }
        button{
            background: transparent;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: 0.3s;

            img{
                width: 20px;
                height: 20px;
            }

            &:hover{
                transform: scale(1.2);
            }   
            .bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
            }
            span{
                font-size: 14px;
            }    

        }
    }
}